/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./alchemy/elements
 */
@import "bootstrap-custom";
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap");

$bg-color: #faece1;
$dark-red: rgb(29, 14, 3);
$accent-bg: rgba(43, 12, 0, 0.7);
$accent-text: #faece1;

html,
body {
  margin: 0;
  padding: 0;
}

main {
  font-family: "Maitree", serif;
  font-weight: 400;
  font-style: normal;

  background-image: url("bg.png");
  background-size: cover;
  background-attachment: fixed;

  .accent {
    background-color: $accent-bg;
    color: $accent-text;
  }

  .__hero {
    position: relative;

    @extend .accent;
    .bg-image {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 80%;
      height: 80%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.6;
    }
  }
  .__text_content {
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }
  .__carousel {
    @extend .accent;
  }
  .__usp {
    @extend .accent;
    @extend .py-5;
    img {
      width: 70%;
      transition: all 0.3s;
      &:hover {
        filter: sepia(1) saturate(0.8);
      }
    }
  }
  .__contact {
    @extend .accent;
    .btn {
      color: $accent-text !important;
    }
  }
}
