/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./alchemy/elements
 */
@import "bootstrap-custom";

$bg-color: #faece1;
$dark-red: rgb(29, 14, 3);

main {
  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
  }
  background-color: $bg-color;
  .__hero {
    .item {
      background-color: $bg-color;
      opacity: 0.7;
    }
  }
  .__carousel {
    background-color: $dark-red;
    color: $bg-color;
  }
  .__usp {
    .bg-image {
      filter: sepia(1) saturate(0.8);
    }
  }
  .__contact {
    background-color: $dark-red;
    color: $bg-color;
  }
}
